
<!-- ################################################################ -->
<!--                      Code generated with T4                      -->
<!-- ################################################################ -->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />

<h2 id="Tasks-pageTitle">
    Task
</h2>

<div id="Tasks-0">

    <div id="Tasks-filters" style="margin-top: 20px; margin-bottom: 5px; width: 100%; ">
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="nameFilter">Name</label>
                    </td>
                    <td>
                        <input id="nameFilter" type="text" data-bind="textInput: nameFilter" class="form-control" style="width: 190px; " />
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="taskTypeIdFilter">Task Type</label>
                    </td>
                    <td>
                        <select data-bind="options: taskTypeList,
                                            optionsText: 'name',
                                            optionsValue: 'taskTypeId',
                                            value: taskTypeIdFilter,
                                            optionsCaption: ''" class="form-control" style="width: 190px; " ></select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="taskDateFilter">Task Date</label>
                    </td>
                    <td>
                        <table style="margin-bottom: 10px; ">
                            <tr>
                                <td>
                                    <input data-bind="datepicker: taskDateFromFilter, datepickerOptions: {
                                                        yearRange: '-20:+100',
                                                        changeMonth: true,
                                                        changeYear: true,
                                                        dateFormat: 'dd-mm-yy' }"
                                             class="form-control" />
                                </td>
                                <td>
                                    <span style="width: 20px; ">-</span>
                                </td>
                                <td>
                                    <input data-bind="datepicker: taskDateToFilter, datepickerOptions: {
                                                        yearRange: '-20:+100',
                                                        changeMonth: true,
                                                        changeYear: true,
                                                        dateFormat: 'dd-mm-yy' }"
                                             class="form-control" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="weekDayFilter">Week Day</label>
                    </td>
                    <td>
                        <input id="weekDayFilter" type="text" data-bind="textInput: weekDayFilter" class="form-control" style="width: 190px; " />
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="startTimeFilter">Start Time</label>
                    </td>
                    <td>
                        <table style="margin-bottom: 10px; ">
                            <tr>
                                <td>
                                    <input data-bind="datepicker: startTimeFromFilter, datepickerOptions: {
                                                        yearRange: '-20:+100',
                                                        changeMonth: true,
                                                        changeYear: true,
                                                        dateFormat: 'dd-mm-yy' }"
                                             class="form-control" />
                                </td>
                                <td>
                                    <span style="width: 20px; ">-</span>
                                </td>
                                <td>
                                    <input data-bind="datepicker: startTimeToFilter, datepickerOptions: {
                                                        yearRange: '-20:+100',
                                                        changeMonth: true,
                                                        changeYear: true,
                                                        dateFormat: 'dd-mm-yy' }"
                                             class="form-control" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="endTimeFilter">End Time</label>
                    </td>
                    <td>
                        <table style="margin-bottom: 10px; ">
                            <tr>
                                <td>
                                    <input data-bind="datepicker: endTimeFromFilter, datepickerOptions: {
                                                        yearRange: '-20:+100',
                                                        changeMonth: true,
                                                        changeYear: true,
                                                        dateFormat: 'dd-mm-yy' }"
                                             class="form-control" />
                                </td>
                                <td>
                                    <span style="width: 20px; ">-</span>
                                </td>
                                <td>
                                    <input data-bind="datepicker: endTimeToFilter, datepickerOptions: {
                                                        yearRange: '-20:+100',
                                                        changeMonth: true,
                                                        changeYear: true,
                                                        dateFormat: 'dd-mm-yy' }"
                                             class="form-control" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="estimatedDurationFilter">Estimated Duration</label>
                    </td>
                    <td>
                        <input id="estimatedDurationFilter" type="text" data-bind="textInput: estimatedDurationFilter" class="form-control" style="width: 190px; " />
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="descriptionFilter">Description</label>
                    </td>
                    <td>
                        <input id="descriptionFilter" type="text" data-bind="textInput: descriptionFilter" class="form-control" style="width: 190px; " />
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="requiresCarFilter">Requires Car</label>
                    </td>
                    <td>
                        <input id="requiresCarFilter" type="text" data-bind="textInput: requiresCarFilter" class="form-control" style="width: 190px; " />
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="teamLeaderIdFilter">Team Leader</label>
                    </td>
                    <td>
                        <select data-bind="options: teamLeaderList,
                                            optionsText: 'name',
                                            optionsValue: 'teamLeaderId',
                                            value: teamLeaderIdFilter,
                                            optionsCaption: ''" class="form-control" style="width: 190px; " ></select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="activeFilter">Active</label>
                    </td>
                    <td>
                        <input id="activeFilter" type="checkbox" data-bind="checked: activeFilter" />
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div style="clear: both;">
    </div>

    <div id="Tasks-filterButtonsBar" style="width: 100%; text-align: right; margin-bottom: 20px; ">
        <input type="button" value="Clear" data-bind="click: clearSearchFilters" class="btn btn-default" />
        <input type="button" value="Search" data-bind="click: advancedSearch" class="btn btn-default" />
        <a class="btn btn-primary" href="/Task/Edit/">Create</a>
    </div>

    <div class="dnnClear">
    </div>

    <table id="TasksTable-0" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="Task-name">Name</th>
                <th class="Task-taskTypeId">Task Type</th>
                <th class="Task-taskDate">Task Date</th>
                <th class="Task-weekDay">Week Day</th>
                <th class="Task-startTime">Start Time</th>
                <th class="Task-endTime">End Time</th>
                <th class="Task-estimatedDuration">Estimated Duration</th>
                <th class="Task-description">Description</th>
                <th class="Task-requiresCar">Requires Car</th>
                <th class="Task-teamLeaderId">Team Leader</th>
                <th class="Task-active">Active</th>
                <th class="datatable-buttons"></th>
            </tr>
        </thead>
    </table>

    <p><a class="btn btn-primary" href="/Task/Edit/">Create</a></p>
</div>

@section scripts{
<script type="text/javascript" src="~/Scripts/knockout-3.4.2.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script type="text/javascript" src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.css" />
<script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

<script type="text/javascript" src="~/Scripts/TaskView.js"></script>


<script type="text/javascript" src="~/Scripts/TaskTypeHelper.js"></script>
<script type="text/javascript" src="~/Scripts/TeamLeaderHelper.js"></script>

<script language="javascript" type="text/javascript">
    var vm;

    //jQuery(function ($) {
        var moduleId = 0;

        var localizedSettings = {};

        var viewmodel = new Web.taskListViewModel(moduleId, localizedSettings);
        viewmodel.init();

        ko.applyBindings(viewmodel, $("#Tasks-" + moduleId)[0]);

        vm = viewmodel;

        // datatables

        function initDataTable() {
            $("#TasksTable-" + moduleId).DataTable();
        }

        $(function () {
            initDataTable();
        });

    //});
</script>
}

    