<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--SQL Server (local)-->
    <add name="SiteSqlServer" connectionString="Data Source=.;Initial Catalog=Refood;Connect Timeout=300;User Id=refood;Password=podio" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>