
<!-- ################################################################ -->
<!--                      Code generated with T4                      -->
<!-- ################################################################ -->

<div id="Expense-0">
    <div class="dnnForm dnnEditBasicSettings" id="dnnEditBasicSettings">
        <!--<div class="dnnFormExpandContent dnnRight "><a href="#">Expand All</a></div>-->

        <h2 id="dnnSitePanel-BasicSettings" class="dnnFormSectionHead dnnClear">
            Expense
        </h2>
        <fieldset>
            <div class="formItem" style="margin-bottom: 20px; ">
                <div><label for="nucleoId">Nucleo</label></div>
                <select data-bind="options: nucleoList,
                                    optionsText: 'name',
                                    optionsValue: 'nucleoId',
                                    value: nucleoId,
                                    optionsCaption: ''" class="form-control"></select>
            </div>
            <div class="formItem" style="margin-bottom: 20px; ">
                <div><label for="name">Name</label></div>
                <input id="name" type="text" data-bind="textInput: name" class="form-control" />
            </div>
            <div class="formItem" style="margin-bottom: 20px; ">
                <div><label for="description">Description</label></div>
                <input id="description" type="text" data-bind="textInput: description" class="form-control" />
            </div>
            <div class="formItem" style="margin-bottom: 20px; ">
                <div><label for="responsiblePersonId">Responsible Person</label></div>
                <select data-bind="options: responsiblePersonList,
                                    optionsText: 'name',
                                    optionsValue: 'responsiblePersonId',
                                    value: responsiblePersonId,
                                    optionsCaption: ''" class="form-control"></select>
            </div>
            <div class="formItem" style="margin-bottom: 20px; ">
                <div><label for="executerPersonId">Executer Person</label></div>
                <select data-bind="options: executerPersonList,
                                    optionsText: 'name',
                                    optionsValue: 'executerPersonId',
                                    value: executerPersonId,
                                    optionsCaption: ''" class="form-control"></select>
            </div>
            <div class="formItem" style="margin-bottom: 20px; ">
                <div><label for="documentId">Document</label></div>
                <select data-bind="options: documentList,
                                    optionsText: 'name',
                                    optionsValue: 'documentId',
                                    value: documentId,
                                    optionsCaption: ''" class="form-control"></select>
            </div>
            <div class="formItem" style="margin-bottom: 20px; ">
                <div><label for="partnerId">Partner</label></div>
                <select data-bind="options: partnerList,
                                    optionsText: 'name',
                                    optionsValue: 'partnerId',
                                    value: partnerId,
                                    optionsCaption: ''" class="form-control"></select>
            </div>
            <div class="formItem" style="margin-bottom: 20px; ">
                <div><label for="invoiceDate">Invoice Date</label></div>
                <input data-bind="datepicker: invoiceDate, datepickerOptions: {
                                    yearRange: '-20:+100',
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'dd-mm-yy' }"
                                    class="form-control" />
            </div>
            <div class="formItem" style="margin-bottom: 20px; ">
                <div><label for="amount">Amount</label></div>
                <input id="amount" type="text" data-bind="textInput: amount" class="form-control" />
            </div>
        </fieldset>
    </div>
    <hr />
    <div class="text-right">
		<a data-bind="click: cancel" href="#" class="btn btn-link">Cancel</a>
		<a data-bind="click: save" href="#" class="btn btn-primary">Save</a>
    </div>
</div>

@section scripts{
<script type="text/javascript" src="~/Scripts/knockout-3.4.2.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.css" />
<script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="~/Scripts/toastr.js"></script>
<link href="~/Content/toastr.css" rel="stylesheet" />

<script type="text/javascript" src="~/Scripts/ExpenseEdit.js"></script>

<script type="text/javascript" src="~/Scripts/NucleoHelper.js"></script>
<script type="text/javascript" src="~/Scripts/ResponsiblePersonHelper.js"></script>
<script type="text/javascript" src="~/Scripts/ExecuterPersonHelper.js"></script>
<script type="text/javascript" src="~/Scripts/DocumentHelper.js"></script>
<script type="text/javascript" src="~/Scripts/PartnerHelper.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/jquery-ui-datepicker.css" />

<script type="text/javascript">

        //jQuery(function ($) {
            var moduleId = 0;

            var localizedSettings = {};

            var viewmodel = new Web.expenseViewModel(moduleId, localizedSettings);
            viewmodel.init();

            ko.applyBindings(viewmodel, $("#Expense-" + moduleId)[0]);

            //function dnnEditBasicSettings() {
                //$('#dnnEditBasicSettings').dnnPanels();
                //$('#dnnEditBasicSettings .dnnFormExpandContent a').dnnExpandAll({ expandText: 'Expandir', collapseText: 'Minimizar', targetArea: '#dnnEditBasicSettings' });
            //}

            //dnnEditBasicSettings();
            //Sys.WebForms.PageRequestManager.getInstance().add_endRequest(function () {
                //dnnEditBasicSettings();
            //});
        //});
</script>
}

    