
<!-- ################################################################ -->
<!--                      Code generated with T4                      -->
<!-- ################################################################ -->

<div id="ContributionMonetaryReviewer-0">
    <div class="dnnForm dnnEditBasicSettings" id="dnnEditBasicSettings">
        <!--<div class="dnnFormExpandContent dnnRight "><a href="#">Expand All</a></div>-->

        <h2 id="dnnSitePanel-BasicSettings" class="dnnFormSectionHead dnnClear">
            Contribution Monetary Reviewer
        </h2>
        <fieldset>
            <div class="formItem" style="margin-bottom: 20px; ">
                <div><label for="volunteerId">Volunteer</label></div>
                <select data-bind="options: volunteerList,
                                    optionsText: 'name',
                                    optionsValue: 'volunteerId',
                                    value: volunteerId,
                                    optionsCaption: ''" class="form-control"></select>
            </div>
        </fieldset>
    </div>
    <hr />
    <div class="text-right">
		<a data-bind="click: cancel" href="#" class="btn btn-link">Cancel</a>
		<a data-bind="click: save" href="#" class="btn btn-primary">Save</a>
    </div>
</div>

@section scripts{
<script type="text/javascript" src="~/Scripts/knockout-3.4.2.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.css" />
<script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="~/Scripts/toastr.js"></script>
<link href="~/Content/toastr.css" rel="stylesheet" />

<script type="text/javascript" src="~/Scripts/ContributionMonetaryReviewerEdit.js"></script>

<script type="text/javascript" src="~/Scripts/VolunteerHelper.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/jquery-ui-datepicker.css" />

<script type="text/javascript">

        //jQuery(function ($) {
            var moduleId = 0;

            var localizedSettings = {};

            var viewmodel = new Web.contributionMonetaryReviewerViewModel(moduleId, localizedSettings);
            viewmodel.init();

            ko.applyBindings(viewmodel, $("#ContributionMonetaryReviewer-" + moduleId)[0]);

            //function dnnEditBasicSettings() {
                //$('#dnnEditBasicSettings').dnnPanels();
                //$('#dnnEditBasicSettings .dnnFormExpandContent a').dnnExpandAll({ expandText: 'Expandir', collapseText: 'Minimizar', targetArea: '#dnnEditBasicSettings' });
            //}

            //dnnEditBasicSettings();
            //Sys.WebForms.PageRequestManager.getInstance().add_endRequest(function () {
                //dnnEditBasicSettings();
            //});
        //});
</script>
}

    