
<!-- ################################################################ -->
<!--                      Code generated with T4                      -->
<!-- ################################################################ -->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />

<h2 id="Districts-pageTitle">
    District
</h2>

<div id="Districts-0">

    <div id="Districts-filters" style="margin-top: 20px; margin-bottom: 5px; width: 100%; ">
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="countryIdFilter">Country</label>
                    </td>
                    <td>
                        <select data-bind="options: countryList,
                                            optionsText: 'name',
                                            optionsValue: 'countryId',
                                            value: countryIdFilter,
                                            optionsCaption: ''" class="form-control" style="width: 190px; " ></select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="nameFilter">Name</label>
                    </td>
                    <td>
                        <input id="nameFilter" type="text" data-bind="textInput: nameFilter" class="form-control" style="width: 190px; " />
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="codeFilter">Code</label>
                    </td>
                    <td>
                        <input id="codeFilter" type="text" data-bind="textInput: codeFilter" class="form-control" style="width: 190px; " />
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="latitudeFilter">Latitude</label>
                    </td>
                    <td>
                        <input id="latitudeFilter" type="text" data-bind="textInput: latitudeFilter" class="form-control" style="width: 190px; " />
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="longitudeFilter">Longitude</label>
                    </td>
                    <td>
                        <input id="longitudeFilter" type="text" data-bind="textInput: longitudeFilter" class="form-control" style="width: 190px; " />
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="activeFilter">Active</label>
                    </td>
                    <td>
                        <input id="activeFilter" type="checkbox" data-bind="checked: activeFilter" />
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div style="clear: both;">
    </div>

    <div id="Districts-filterButtonsBar" style="width: 100%; text-align: right; margin-bottom: 20px; ">
        <input type="button" value="Clear" data-bind="click: clearSearchFilters" class="btn btn-default" />
        <input type="button" value="Search" data-bind="click: advancedSearch" class="btn btn-default" />
        <a class="btn btn-primary" href="/District/Edit/">Create</a>
    </div>

    <div class="dnnClear">
    </div>

    <table id="DistrictsTable-0" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="District-countryId">Country</th>
                <th class="District-name">Name</th>
                <th class="District-code">Code</th>
                <th class="District-latitude">Latitude</th>
                <th class="District-longitude">Longitude</th>
                <th class="District-active">Active</th>
                <th class="datatable-buttons"></th>
            </tr>
        </thead>
    </table>

    <p><a class="btn btn-primary" href="/District/Edit/">Create</a></p>
</div>

@section scripts{
<script type="text/javascript" src="~/Scripts/knockout-3.4.2.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script type="text/javascript" src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.css" />
<script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

<script type="text/javascript" src="~/Scripts/DistrictView.js"></script>


<script type="text/javascript" src="~/Scripts/CountryHelper.js"></script>

<script language="javascript" type="text/javascript">
    var vm;

    //jQuery(function ($) {
        var moduleId = 0;

        var localizedSettings = {};

        var viewmodel = new Web.districtListViewModel(moduleId, localizedSettings);
        viewmodel.init();

        ko.applyBindings(viewmodel, $("#Districts-" + moduleId)[0]);

        vm = viewmodel;

        // datatables

        function initDataTable() {
            $("#DistrictsTable-" + moduleId).DataTable();
        }

        $(function () {
            initDataTable();
        });

    //});
</script>
}

    