<div class="jumbotron">
    <h1>Plataforma Refood</h1>
    <p class="lead">
        Agora é fácil organizar tudo.
    </p>
    <p class="lead">
        Para todos os Núcleos, permite uniformizar dados e tarefas,
        e ainda agregar dados de forma automática para os Núcleos Regionais e para o Núcleo Nacional para agilizar todo o processo de gestão.
    </p>
    <p><a href="/" class="btn btn-primary btn-lg">Ver mais &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4 primary-colors">
        <h2>Início</h2>
        <p>
            A plataforma da Refood é uma das novidades mais recentes em desenvolvimento na equipa IT do Núcleo Nacional da Refood.
        </p>
        <p><a class="btn btn-default" href="/">Ver mais &raquo;</a></p>
    </div>
    <div class="col-md-4 primary-colors">
        <h2>Voluntários</h2>
        <p>
            Pesquisar colegas na Refood, ver contactos, inscrever novos candidatos, ou organizar equipas.
            Uma forma simples de manter todos juntos!
        </p>
        <p><a class="btn btn-default" href="/Volunteer">Ver mais &raquo;</a></p>
    </div>
    <div class="col-md-4 secondary-colors">
        <h2>Fontes</h2>
        <p>
            Podes encontrar aqui qualquer fonte de alimentos, saber se já tem acordo com algum núcleo,
            o local onde se encontra, ver o horário de funcionamento, consultar o contacto de forma rápida, ou criar uma nova.
        </p>
        <p><a class="btn btn-default" href="/Supplier">Ver mais &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 secondary-colors">
        <h2>Beneficiários</h2>
        <p>
            Aqui é possível gerir a lista de beneficiários do Núcleo, atualizar o estado,
            e detalhar as características especiais de cada família.
        </p>
        <p><a class="btn btn-default" href="/Beneficiary">Ver mais &raquo;</a></p>
    </div>
    <div class="col-md-4 primary-colors">
        <h2>Rotas</h2>
        <p>
            Ver as rotas ativas ou planear novas rotas, tanto rotas de recolha, como também rotas de distribuição.
        </p>
        <p><a class="btn btn-default" href="/Volunteer">Ver mais &raquo;</a></p>
    </div>
    <div class="col-md-4 primary-colors">
        <h2>Parceiros</h2>
        <p>
            Adicionar novos parceiros ou pesquisar as parecerias ativas com a Refood, aqui é o sítio ideal.
        </p>
        <p><a class="btn btn-default" href="/Partner">Ver mais &raquo;</a></p>
    </div>
</div>
