
<!-- ################################################################ -->
<!--                      Code generated with T4                      -->
<!-- ################################################################ -->

<div id="Parish-0">
    <div class="dnnForm dnnEditBasicSettings" id="dnnEditBasicSettings">
        <!--<div class="dnnFormExpandContent dnnRight "><a href="#">Expand All</a></div>-->

        <h2 id="dnnSitePanel-BasicSettings" class="dnnFormSectionHead dnnClear">
            Parish
        </h2>
        <fieldset>
            <div class="formItem" style="margin-bottom: 20px; ">
                <div><label for="countyId">County</label></div>
                <select data-bind="options: countyList,
                                    optionsText: 'name',
                                    optionsValue: 'countyId',
                                    value: countyId,
                                    optionsCaption: ''" class="form-control"></select>
            </div>
            <div class="formItem" style="margin-bottom: 20px; ">
                <div><label for="districtId">District</label></div>
                <select data-bind="options: districtList,
                                    optionsText: 'name',
                                    optionsValue: 'districtId',
                                    value: districtId,
                                    optionsCaption: ''" class="form-control"></select>
            </div>
            <div class="formItem" style="margin-bottom: 20px; ">
                <div><label for="countryId">Country</label></div>
                <select data-bind="options: countryList,
                                    optionsText: 'name',
                                    optionsValue: 'countryId',
                                    value: countryId,
                                    optionsCaption: ''" class="form-control"></select>
            </div>
            <div class="formItem" style="margin-bottom: 20px; ">
                <div><label for="name">Name</label></div>
                <input id="name" type="text" data-bind="textInput: name" class="form-control" />
            </div>
            <div class="formItem" style="margin-bottom: 20px; ">
                <div><label for="code">Code</label></div>
                <input id="code" type="text" data-bind="textInput: code" class="form-control" />
            </div>
            <div class="formItem" style="margin-bottom: 20px; ">
                <div><label for="latitude">Latitude</label></div>
                <input id="latitude" type="text" data-bind="textInput: latitude" class="form-control" />
            </div>
            <div class="formItem" style="margin-bottom: 20px; ">
                <div><label for="longitude">Longitude</label></div>
                <input id="longitude" type="text" data-bind="textInput: longitude" class="form-control" />
            </div>
            <div class="formItem" style="margin-bottom: 20px; ">
                <div><label for="active">Active</label></div>
                <input id="active" type="checkbox" data-bind="checked: active" class="form-control" />
            </div>
        </fieldset>
    </div>
    <hr />
    <div class="text-right">
		<a data-bind="click: cancel" href="#" class="btn btn-link">Cancel</a>
		<a data-bind="click: save" href="#" class="btn btn-primary">Save</a>
    </div>
</div>

@section scripts{
<script type="text/javascript" src="~/Scripts/knockout-3.4.2.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.css" />
<script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="~/Scripts/toastr.js"></script>
<link href="~/Content/toastr.css" rel="stylesheet" />

<script type="text/javascript" src="~/Scripts/ParishEdit.js"></script>

<script type="text/javascript" src="~/Scripts/CountyHelper.js"></script>
<script type="text/javascript" src="~/Scripts/DistrictHelper.js"></script>
<script type="text/javascript" src="~/Scripts/CountryHelper.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/jquery-ui-datepicker.css" />

<script type="text/javascript">

        //jQuery(function ($) {
            var moduleId = 0;

            var localizedSettings = {};

            var viewmodel = new Web.parishViewModel(moduleId, localizedSettings);
            viewmodel.init();

            ko.applyBindings(viewmodel, $("#Parish-" + moduleId)[0]);

            //function dnnEditBasicSettings() {
                //$('#dnnEditBasicSettings').dnnPanels();
                //$('#dnnEditBasicSettings .dnnFormExpandContent a').dnnExpandAll({ expandText: 'Expandir', collapseText: 'Minimizar', targetArea: '#dnnEditBasicSettings' });
            //}

            //dnnEditBasicSettings();
            //Sys.WebForms.PageRequestManager.getInstance().add_endRequest(function () {
                //dnnEditBasicSettings();
            //});
        //});
</script>
}

    