
<!-- ################################################################ -->
<!--                      Code generated with T4                      -->
<!-- ################################################################ -->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />

<h2 id="Suppliers-pageTitle">
    Supplier
</h2>

<div id="Suppliers-0">

    <div id="Suppliers-filters" style="margin-top: 20px; margin-bottom: 5px; width: 100%; ">
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="nameFilter">Name</label>
                    </td>
                    <td>
                        <input id="nameFilter" type="text" data-bind="textInput: nameFilter" class="form-control" style="width: 190px; " />
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="supplierTypeIdFilter">Supplier Type</label>
                    </td>
                    <td>
                        <select data-bind="options: supplierTypeList,
                                            optionsText: 'name',
                                            optionsValue: 'supplierTypeId',
                                            value: supplierTypeIdFilter,
                                            optionsCaption: ''" class="form-control" style="width: 190px; " ></select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="phoneFilter">Phone</label>
                    </td>
                    <td>
                        <input id="phoneFilter" type="text" data-bind="textInput: phoneFilter" class="form-control" style="width: 190px; " />
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="emailFilter">Email</label>
                    </td>
                    <td>
                        <input id="emailFilter" type="text" data-bind="textInput: emailFilter" class="form-control" style="width: 190px; " />
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="latitudeFilter">Latitude</label>
                    </td>
                    <td>
                        <input id="latitudeFilter" type="text" data-bind="textInput: latitudeFilter" class="form-control" style="width: 190px; " />
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="longitudeFilter">Longitude</label>
                    </td>
                    <td>
                        <input id="longitudeFilter" type="text" data-bind="textInput: longitudeFilter" class="form-control" style="width: 190px; " />
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="descriptionFilter">Description</label>
                    </td>
                    <td>
                        <input id="descriptionFilter" type="text" data-bind="textInput: descriptionFilter" class="form-control" style="width: 190px; " />
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="websiteFilter">Website</label>
                    </td>
                    <td>
                        <input id="websiteFilter" type="text" data-bind="textInput: websiteFilter" class="form-control" style="width: 190px; " />
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchFilter">
            <table>
                <tr>
                    <td style="width: 150px; vertical-align: middle; ">
                        <label for="addressIdFilter">Address</label>
                    </td>
                    <td>
                        <select data-bind="options: addressList,
                                            optionsText: 'name',
                                            optionsValue: 'addressId',
                                            value: addressIdFilter,
                                            optionsCaption: ''" class="form-control" style="width: 190px; " ></select>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div style="clear: both;">
    </div>

    <div id="Suppliers-filterButtonsBar" style="width: 100%; text-align: right; margin-bottom: 20px; ">
        <input type="button" value="Clear" data-bind="click: clearSearchFilters" class="btn btn-default" />
        <input type="button" value="Search" data-bind="click: advancedSearch" class="btn btn-default" />
        <a class="btn btn-primary" href="/Supplier/Edit/">Create</a>
    </div>

    <div class="dnnClear">
    </div>

    <table id="SuppliersTable-0" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="Supplier-name">Name</th>
                <th class="Supplier-supplierTypeId">Supplier Type</th>
                <th class="Supplier-phone">Phone</th>
                <th class="Supplier-email">Email</th>
                <th class="Supplier-latitude">Latitude</th>
                <th class="Supplier-longitude">Longitude</th>
                <th class="Supplier-description">Description</th>
                <th class="Supplier-website">Website</th>
                <th class="Supplier-addressId">Address</th>
                <th class="datatable-buttons"></th>
            </tr>
        </thead>
    </table>

    <p><a class="btn btn-primary" href="/Supplier/Edit/">Create</a></p>
</div>

@section scripts{
<script type="text/javascript" src="~/Scripts/knockout-3.4.2.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script type="text/javascript" src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.css" />
<script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

<script type="text/javascript" src="~/Scripts/SupplierView.js"></script>


<script type="text/javascript" src="~/Scripts/SupplierTypeHelper.js"></script>
<script type="text/javascript" src="~/Scripts/AddressHelper.js"></script>

<script language="javascript" type="text/javascript">
    var vm;

    //jQuery(function ($) {
        var moduleId = 0;

        var localizedSettings = {};

        var viewmodel = new Web.supplierListViewModel(moduleId, localizedSettings);
        viewmodel.init();

        ko.applyBindings(viewmodel, $("#Suppliers-" + moduleId)[0]);

        vm = viewmodel;

        // datatables

        function initDataTable() {
            $("#SuppliersTable-" + moduleId).DataTable();
        }

        $(function () {
            initDataTable();
        });

    //});
</script>
}

    